In [1]:
import xarray as xr
import numpy as np
import pandas as pd

In [6]:
# Import netcdf-file
filename = '/lustre/storeB/immutable/archive/projects/metproduction/meps/2023/10/10/meps_lagged_6_h_subset_2_5km_20231010T00Z.nc'
data = xr.open_dataset(filename)

airport_file= pd.read_csv('data/airports_overview.csv')
airport_identifiers = airport_file['airport_identifier']

In [7]:
# Function for calculating the nearest latitude and longitude coordinates based on pre-defined target values
# 

def find_nearest_coordinates(airport_identifiers, target_lat, target_lon):
    latitude_values = data['latitude'].values
    longitude_values = data['longitude'].values

    # Calculate the euclidean distance from the target coordinates
    distances = np.sqrt((latitude_values - target_lat)**2 + (longitude_values - target_lon)**2)

    # Find indices of the minimum distance
    nearest_index = np.unravel_index(distances.argmin(), distances.shape)

    # Extract corresponding y and x indices
    nearest_y_index = nearest_index[0]
    nearest_x_index = nearest_index[1]

    # Extract data using found indices
    print(f'For airport {airport_identifiers}: Successfully extracted (y,x) for target_latitude = {target_lat} and target_longitude: {target_lon}')
    return nearest_y_index, nearest_x_index

In [15]:
# Function for locating the value of the corresponding x- and y-values based on index found from find_nearest_coordinates

def extract_vals_to_df(data_param, y_index, x_index):
    
    data_param = data_param.sel(   
        y = data['y'][y_index],   
        x = data['x'][x_index],
        method='nearest'
     )
    data_param = data_param.to_dataframe()
    return data_param

### Dataset created from extracted positions from postgresql database

In [9]:
airport_location = pd.read_csv('data/airport_positions.csv')
airport_location

   airport_identifier                              name     position
0                ENAL           ALESUND/VIGRA RWY 07/25   (6256,611)
1                ENAN    ANDOYA/ANDENES RWY 03/21 14/32  (6929,1614)
2                ENAS  NY-ALESUND/HAMNERABBEN RWY 12/30  (7892,1187)
3                ENAT                    ALTA RWY 11/29  (6997,2337)
4                ENBJ                          BJORNOYA  (7450,1908)
..                ...                               ...          ...
85               ENVD                   VADSO RWY 08/26  (7006,2984)
86               ENWV                         VALHALL A   (5627,339)
87               ENVR                            VAEROY  (6765,1272)
88               ENXW                             GRANE   (5916,248)
89               ENZV    STAVANGER/SOLA RWY 18/36 11/29   (5887,563)

[90 rows x 3 columns]

In [10]:
# Remove parenthesis -> split lon and lat values -> divide by 100 to obtain correct values
airport_location[['latitude', 'longitude']] = airport_location['position'].str.replace(r'[\(\)]', '').str.split(',', expand=True)
airport_location[['latitude', 'longitude']] = airport_location[['latitude', 'longitude']].astype('float') / 100

/tmp/ipykernel_464076/1650021312.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  airport_location[['latitude', 'longitude']] = airport_location['position'].str.replace(r'[\(\)]', '').str.split(',', expand=True)

In [11]:
airport_location

,airport_identifier,name,position,latitude,longitude
0,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
1,ENAN,ANDOYA/ANDENES RWY 03/21 14/32,"(6929,1614)",69.29,16.14
2,ENAS,NY-ALESUND/HAMNERABBEN RWY 12/30,"(7892,1187)",78.92,11.87
3,ENAT,ALTA RWY 11/29,"(6997,2337)",69.97,23.37
4,ENBJ,BJORNOYA,"(7450,1908)",74.50,19.08
...,...,...,...,...,...
85,ENVD,VADSO RWY 08/26,"(7006,2984)",70.06,29.84
86,ENWV,VALHALL A,"(5627,339)",56.27,3.39
87,ENVR,VAEROY,"(6765,1272)",67.65,12.72
88,ENXW,GRANE,"(5916,248)",59.16,2.48
89,ENZV,STAVANGER/SOLA RWY 18/36 11/29,"(5887,563)",58.87,5.63

In [16]:
# Function for processing each row from each airport through earlier defined functions

def process_airport_row(row):
    target_lat = row['latitude']
    target_lon = row['longitude']
    airport = row['airport_identifier']

    nearest_y_index, nearest_x_index = find_nearest_coordinates(airport, target_lat, target_lon)
    
    result_df = extract_vals_to_df(data['air_temperature_2m'], nearest_y_index, nearest_x_index)
    
    return result_df

In [17]:
test_dataset = airport_location.head(2)
test_dataset

,airport_identifier,name,position,latitude,longitude
0,ENAL,ALESUND/VIGRA RWY 07/25,"(6256,611)",62.56,6.11
1,ENAN,ANDOYA/ANDENES RWY 03/21 14/32,"(6929,1614)",69.29,16.14

In [18]:
# Applying to dataframe
result = test_dataset.apply(process_airport_row, axis=1)

# Concatenate the results into a final DF
final_result = pd.concat(result.tolist(), keys=test_dataset['airport_identifier'])

final_result

For airport ENAL: Successfully extracted (y,x) for target_latitude = 62.56 and target_longitude: 6.11
For airport ENAN: Successfully extracted (y,x) for target_latitude = 69.29 and target_longitude: 16.14

                                                                            x  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0               -455084.062500
                                               1               -455084.062500
                                               2               -455084.062500
                                               3               -455084.062500
                                               4               -455084.062500
...                                                                       ...
ENAN               2023-10-12 13:00:00 2.0     25                44915.945312
                                               26                44915.945312
                                               27                44915.945312
                                               28                44915.945312
                                               29                44915.945312

                                                                           y  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                -50017.90625
                                               1                -50017.90625
                                               2                -50017.90625
                                               3                -50017.90625
                                               4                -50017.90625
...                                                                      ...
ENAN               2023-10-12 13:00:00 2.0     25               667482.12500
                                               26               667482.12500
                                               27               667482.12500
                                               28               667482.12500
                                               29               667482.12500

                                                                longitude  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                 6.089178
                                               1                 6.089178
                                               2                 6.089178
                                               3                 6.089178
                                               4                 6.089178
...                                                                   ...
ENAN               2023-10-12 13:00:00 2.0     25               16.135429
                                               26               16.135429
                                               27               16.135429
                                               28               16.135429
                                               29               16.135429

                                                                 latitude  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                62.565422
                                               1                62.565422
                                               2                62.565422
                                               3                62.565422
                                               4                62.565422
...                                                                   ...
ENAN               2023-10-12 13:00:00 2.0     25               69.287653
                                               26               69.287653
                                               27               69.287653
                                               28               69.287653
                                               29               69.287653

                                                                air_temperature_2m
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                        282.125488
                                               1                        282.072205
                                               2                        282.544434
                                               3                        281.222900
                                               4                        281.682007
...                                                                            ...
ENAN               2023-10-12 13:00:00 2.0     25                       278.767792
                                               26                       280.006653
                                               27                       279.102173
                                               28                       278.592926
                                               29                       279.240967

[3720 rows x 5 columns]

In [87]:
final_result.head(50)

                                                                          x  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0               -455084.0625
                                               1               -455084.0625
                                               2               -455084.0625
                                               3               -455084.0625
                                               4               -455084.0625
                                               5               -455084.0625
                                               6               -455084.0625
                                               7               -455084.0625
                                               8               -455084.0625
                                               9               -455084.0625
                                               10              -455084.0625
                                               11              -455084.0625
                                               12              -455084.0625
                                               13              -455084.0625
                                               14              -455084.0625
                                               15              -455084.0625
                                               16              -455084.0625
                                               17              -455084.0625
                                               18              -455084.0625
                                               19              -455084.0625
                                               20              -455084.0625
                                               21              -455084.0625
                                               22              -455084.0625
                                               23              -455084.0625
                                               24              -455084.0625
                                               25              -455084.0625
                                               26              -455084.0625
                                               27              -455084.0625
                                               28              -455084.0625
                                               29              -455084.0625
                   2023-10-10 01:00:00 2.0     0               -455084.0625
                                               1               -455084.0625
                                               2               -455084.0625
                                               3               -455084.0625
                                               4               -455084.0625
                                               5               -455084.0625
                                               6               -455084.0625
                                               7               -455084.0625
                                               8               -455084.0625
                                               9               -455084.0625
                                               10              -455084.0625
                                               11              -455084.0625
                                               12              -455084.0625
                                               13              -455084.0625
                                               14              -455084.0625
                                               15              -455084.0625
                                               16              -455084.0625
                                               17              -455084.0625
                                               18              -455084.0625
                                               19              -455084.0625

                                                                          y  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0               -50017.90625
                                               1               -50017.90625
                                               2               -50017.90625
                                               3               -50017.90625
                                               4               -50017.90625
                                               5               -50017.90625
                                               6               -50017.90625
                                               7               -50017.90625
                                               8               -50017.90625
                                               9               -50017.90625
                                               10              -50017.90625
                                               11              -50017.90625
                                               12              -50017.90625
                                               13              -50017.90625
                                               14              -50017.90625
                                               15              -50017.90625
                                               16              -50017.90625
                                               17              -50017.90625
                                               18              -50017.90625
                                               19              -50017.90625
                                               20              -50017.90625
                                               21              -50017.90625
                                               22              -50017.90625
                                               23              -50017.90625
                                               24              -50017.90625
                                               25              -50017.90625
                                               26              -50017.90625
                                               27              -50017.90625
                                               28              -50017.90625
                                               29              -50017.90625
                   2023-10-10 01:00:00 2.0     0               -50017.90625
                                               1               -50017.90625
                                               2               -50017.90625
                                               3               -50017.90625
                                               4               -50017.90625
                                               5               -50017.90625
                                               6               -50017.90625
                                               7               -50017.90625
                                               8               -50017.90625
                                               9               -50017.90625
                                               10              -50017.90625
                                               11              -50017.90625
                                               12              -50017.90625
                                               13              -50017.90625
                                               14              -50017.90625
                                               15              -50017.90625
                                               16              -50017.90625
                                               17              -50017.90625
                                               18              -50017.90625
                                               19              -50017.90625

                                                                longitude  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                 6.089178
                                               1                 6.089178
                                               2                 6.089178
                                               3                 6.089178
                                               4                 6.089178
                                               5                 6.089178
                                               6                 6.089178
                                               7                 6.089178
                                               8                 6.089178
                                               9                 6.089178
                                               10                6.089178
                                               11                6.089178
                                               12                6.089178
                                               13                6.089178
                                               14                6.089178
                                               15                6.089178
                                               16                6.089178
                                               17                6.089178
                                               18                6.089178
                                               19                6.089178
                                               20                6.089178
                                               21                6.089178
                                               22                6.089178
                                               23                6.089178
                                               24                6.089178
                                               25                6.089178
                                               26                6.089178
                                               27                6.089178
                                               28                6.089178
                                               29                6.089178
                   2023-10-10 01:00:00 2.0     0                 6.089178
                                               1                 6.089178
                                               2                 6.089178
                                               3                 6.089178
                                               4                 6.089178
                                               5                 6.089178
                                               6                 6.089178
                                               7                 6.089178
                                               8                 6.089178
                                               9                 6.089178
                                               10                6.089178
                                               11                6.089178
                                               12                6.089178
                                               13                6.089178
                                               14                6.089178
                                               15                6.089178
                                               16                6.089178
                                               17                6.089178
                                               18                6.089178
                                               19                6.089178

                                                                 latitude  \
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                62.565422
                                               1                62.565422
                                               2                62.565422
                                               3                62.565422
                                               4                62.565422
                                               5                62.565422
                                               6                62.565422
                                               7                62.565422
                                               8                62.565422
                                               9                62.565422
                                               10               62.565422
                                               11               62.565422
                                               12               62.565422
                                               13               62.565422
                                               14               62.565422
                                               15               62.565422
                                               16               62.565422
                                               17               62.565422
                                               18               62.565422
                                               19               62.565422
                                               20               62.565422
                                               21               62.565422
                                               22               62.565422
                                               23               62.565422
                                               24               62.565422
                                               25               62.565422
                                               26               62.565422
                                               27               62.565422
                                               28               62.565422
                                               29               62.565422
                   2023-10-10 01:00:00 2.0     0                62.565422
                                               1                62.565422
                                               2                62.565422
                                               3                62.565422
                                               4                62.565422
                                               5                62.565422
                                               6                62.565422
                                               7                62.565422
                                               8                62.565422
                                               9                62.565422
                                               10               62.565422
                                               11               62.565422
                                               12               62.565422
                                               13               62.565422
                                               14               62.565422
                                               15               62.565422
                                               16               62.565422
                                               17               62.565422
                                               18               62.565422
                                               19               62.565422

                                                                air_temperature_2m
airport_identifier time                height1 ensemble_member
ENAL               2023-10-10 00:00:00 2.0     0                        282.125488
                                               1                        282.072205
                                               2                        282.544434
                                               3                        281.222900
                                               4                        281.682007
                                               5                        282.106598
                                               6                        281.253784
                                               7                        281.670044
                                               8                        282.205475
                                               9                        281.694733
                                               10                       281.238007
                                               11                       282.314911
                                               12                       282.082336
                                               13                       282.346069
                                               14                       280.932587
                                               15                       281.555511
                                               16                       281.779694
                                               17                       281.738708
                                               18                       282.067932
                                               19                       281.844299
                                               20                       282.180267
                                               21                       281.191833
                                               22                       281.803070
                                               23                       281.978577
                                               24                       281.138855
                                               25                       281.218842
                                               26                       281.768494
                                               27                       282.170197
                                               28                       281.795288
                                               29                       281.775085
                   2023-10-10 01:00:00 2.0     0                        281.691895
                                               1                        281.798950
                                               2                        281.850830
                                               3                        281.420227
                                               4                        281.897949
                                               5                        282.182098
                                               6                        281.402161
                                               7                        281.875061
                                               8                        282.033203
                                               9                        281.710083
                                               10                       281.488953
                                               11                       282.565796
                                               12                       281.911560
                                               13                       282.536316
                                               14                       281.562042
                                               15                       281.616943
                                               16                       281.898193
                                               17                       281.663300
                                               18                       282.562744
                                               19                       282.150757

### METAR

In [104]:
metar_data = pd.read_csv('data/metar_msg_overview.csv')

In [105]:
# Sort data based on airport and timestamp
metar_data.sort_values(['airport_identifier', 'issued_at'], inplace=True)

# Convert issued_at to datetime
metar_data['issued_at'] = pd.to_datetime(metar_data['issued_at'])

# Set airport and issued_at as index
metar_data.set_index(['airport_identifier', 'issued_at'], inplace=True)

# Group by airport
metar_data.groupby(['airport_identifier'])

In [106]:
# Replace NaN with MANUAL
metar_data['metartype'].fillna('MANUAL', inplace=True)

In [108]:
# Adjusting width of column to display the whole metar message
pd.set_option('display.max_colwidth', None)

In [98]:
metar_data.loc['ENGM', :]

,metar,metartype
issued_at,,
2021-01-01 00:20:00,ENGM 010020Z 36006KT 9999 4900E -SN FEW009 OVC017 M02/M03 Q1003=,MANUAL
2021-01-01 00:50:00,ENGM 010050Z 36003KT 9000 -SN FEW007 OVC018 M02/M03 Q1003=,MANUAL
2021-01-01 01:20:00,ENGM 010120Z 36006KT 8000 -SN FEW008 OVC029 M02/M03 Q1003=,MANUAL
2021-01-01 01:50:00,ENGM 010150Z 36006KT 9999 6000 R19R/P2000N R01R/P2000N R19L/P2000N R01L/P2000N -SN FEW006 SCT010 OVC027 M02/M03 Q1003=,MANUAL
2021-01-01 02:20:00,ENGM 010220Z 36006KT 6000 -SN FEW008 SCT026 OVC031 M02/M03 Q1003=,MANUAL
...,...,...
2023-12-31 21:50:00,ENGM 312150Z 04011KT 9000 -SN OVC008 M05/M07 Q1011 TEMPO 4000 -SN=,MANUAL
2023-12-31 22:20:00,ENGM 312220Z 04010KT 9999 OVC008 M05/M07 Q1011=,MANUAL
2023-12-31 22:50:00,ENGM 312250Z 04010KT 9999 -SN OVC009 M05/M07 Q1011=,MANUAL
2023-12-31 23:20:00,ENGM 312320Z 04010KT 9999 -SN OVC009 M05/M07 Q1011=,MANUAL
2023-12-31 23:50:00,ENGM 312350Z 05010KT 9999 VCSH OVC009 M05/M07 Q1011=,MANUAL

In [110]:
timestamp_counts = metar_data.groupby(['airport_identifier', 'issued_at']).size().reset_index(name='timestamp_count')
metar_data = pd.merge(timestamp_counts, metar_data, on=['airport_identifier', 'issued_at'], how='left')

In [111]:
metar_data

,airport_identifier,issued_at,timestamp_count,metar,metartype
0,ENAL,2021-01-01 00:20:00,1,ENAL 010020Z 08005KT 9999 SCT024/// BKN037/// 01/M02 Q1006=,AUTO
1,ENAL,2021-01-01 00:50:00,1,ENAL 010050Z 09006KT 9999 FEW025/// 00/M02 Q1006=,AUTO
2,ENAL,2021-01-01 01:20:00,1,ENAL 010120Z 08005KT 9999 FEW027/// SCT040/// M00/M03 Q1006=,AUTO
3,ENAL,2021-01-01 01:50:00,1,ENAL 010150Z 09006KT 9999 BKN025/// M01/M02 Q1006=,AUTO
4,ENAL,2021-01-01 02:20:00,1,ENAL 010220Z 09007KT 9999 OVC026/// 01/M01 Q1006=,AUTO
...,...,...,...,...,...
3275708,ENZV,2023-12-31 21:50:00,1,ENZV 312150Z 10022KT CAVOK 05/M05 Q0994=,MANUAL
3275709,ENZV,2023-12-31 22:20:00,1,ENZV 312220Z 10023G34KT CAVOK 05/M05 Q0994=,MANUAL
3275710,ENZV,2023-12-31 22:50:00,1,ENZV 312250Z 10021KT CAVOK 05/M04 Q0994=,MANUAL
3275711,ENZV,2023-12-31 23:20:00,1,ENZV 312320Z 10024KT CAVOK 04/M05 Q0994=,MANUAL
3275712,ENZV,2023-12-31 23:50:00,1,ENZV 312350Z 11025G37KT CAVOK 04/M05 Q0995=,MANUAL

In [103]:
metar_data[(metar_data['timestamp_count'] == 1) & (metar_data['airport_identifier'] == 'ENGM')]

,airport_identifier,issued_at,timestamp_count,metar,metartype
836288,ENGM,2021-01-01 00:20:00,1,ENGM 010020Z 36006KT 9999 4900E -SN FEW009 OVC017 M02/M03 Q1003=,MANUAL
836289,ENGM,2021-01-01 00:50:00,1,ENGM 010050Z 36003KT 9000 -SN FEW007 OVC018 M02/M03 Q1003=,MANUAL
836290,ENGM,2021-01-01 01:20:00,1,ENGM 010120Z 36006KT 8000 -SN FEW008 OVC029 M02/M03 Q1003=,MANUAL
836291,ENGM,2021-01-01 01:50:00,1,ENGM 010150Z 36006KT 9999 6000 R19R/P2000N R01R/P2000N R19L/P2000N R01L/P2000N -SN FEW006 SCT010 OVC027 M02/M03 Q1003=,MANUAL
836292,ENGM,2021-01-01 02:20:00,1,ENGM 010220Z 36006KT 6000 -SN FEW008 SCT026 OVC031 M02/M03 Q1003=,MANUAL
...,...,...,...,...,...
889390,ENGM,2023-12-31 21:50:00,1,ENGM 312150Z 04011KT 9000 -SN OVC008 M05/M07 Q1011 TEMPO 4000 -SN=,MANUAL
889391,ENGM,2023-12-31 22:20:00,1,ENGM 312220Z 04010KT 9999 OVC008 M05/M07 Q1011=,MANUAL
889392,ENGM,2023-12-31 22:50:00,1,ENGM 312250Z 04010KT 9999 -SN OVC009 M05/M07 Q1011=,MANUAL
889393,ENGM,2023-12-31 23:20:00,1,ENGM 312320Z 04010KT 9999 -SN OVC009 M05/M07 Q1011=,MANUAL
889394,ENGM,2023-12-31 23:50:00,1,ENGM 312350Z 05010KT 9999 VCSH OVC009 M05/M07 Q1011=,MANUAL

In [70]:
metar_FZ = metar_data[metar_data['metar'].str.contains('FZRA')]

In [72]:
metar_FZ.head(50)

,airport_identifier,issued_at,timestamp_count,metar,metartype
493,ENAL,2021-01-11 03:20:00,1,ENAL 110320Z 17007KT 9999 -FZRA FEW007/// BKN018/// OVC027/// M01/M02 Q1000 RERASN=,AUTO
496,ENAL,2021-01-11 04:50:00,2,ENAL 110450Z 20010KT 9999 -FZRA FEW003/// SCT008/// BKN012/// M01/M02 Q0999=,AUTO
1315,ENAL,2021-01-27 22:20:00,1,ENAL 272220Z 14012KT 9999 FEW008/// BKN011/// OVC014/// M01/M01 Q1007 REFZUP RESHUP REFZRA=,AUTO
1316,ENAL,2021-01-27 22:50:00,1,ENAL 272250Z 14010KT 2300 -SN FEW002/// OVC010/// M00/M01 Q1007 REFZUP RESHUP REFZRA=,AUTO
1322,ENAL,2021-01-28 01:50:00,1,ENAL 280150Z 13012KT 9999 -FZDZ SCT008/// OVC016/// M00/M01 Q1006 REFZUP RESHUP REFZRA=,AUTO
1324,ENAL,2021-01-28 02:50:00,1,ENAL 280250Z 15011KT 9999 -FZDZ FEW005/// BKN020/// M00/M02 Q1005 REFZUP RESHUP REFZRA=,AUTO
1466,ENAL,2021-01-31 00:50:00,1,ENAL 310050Z 34009KT 300V010 2200 -PL FEW005/// SCT014/// BKN020/// 01/M01 Q0999 REUP RESHUP REFZRA=,AUTO
1956,ENAL,2021-02-10 01:50:00,1,ENAL 100150Z 15010KT 9999 VV016 M03/M05 Q1020 REFZUP RESHUP REFZRA=,AUTO
1961,ENAL,2021-02-10 04:20:00,1,ENAL 100420Z 12010KT 5000 FZUP OVC014/// M02/M04 Q1021 REFZUP RESHUP REFZRA=,AUTO
3068,ENAL,2021-03-04 22:50:00,1,ENAL 042250Z 31009KT 280V360 6000 -SN FEW006/// SCT013/// BKN038/// 00/M01 Q1026 RESHUP REFZRA=,AUTO
53505,ENAN,2021-01-08 01:20:00,1,ENAN 080120Z 19013KT 9999 -FZRA OVC027/// M01/M04 Q1015=,AUTO
53506,ENAN,2021-01-08 01:50:00,1,ENAN 080150Z 20012KT 9999 -FZRA OVC026/// M01/M03 Q1015=,AUTO
53508,ENAN,2021-01-08 02:50:00,1,ENAN 080250Z 19013KT 9999 FZRA FEW015/// OVC026/// M01/M03 Q1015=,AUTO
53509,ENAN,2021-01-08 03:20:00,1,ENAN 080320Z 18014KT 9999 -FZRA FEW013/// OVC023/// M01/M03 Q1015=,AUTO
53991,ENAN,2021-01-18 02:20:00,1,ENAN 180220Z 27003KT 8000 -FZRA BKN022/// OVC031/// M01/M01 Q1007=,AUTO
54318,ENAN,2021-01-24 19:20:00,1,ENAN 241920Z 19007KT 9999 -FZRA FEW006/// BKN009/// OVC015/// M06/M09 Q0996=,AUTO
54326,ENAN,2021-01-24 23:20:00,1,ENAN 242320Z 18008KT 9999 -FZRA VV015 M07/M09 Q0997=,AUTO
54334,ENAN,2021-01-25 03:20:00,1,ENAN 250320Z 20009KT 9999 -FZRA SCT018/// OVC045/// M06/M09 Q0998=,AUTO
54656,ENAN,2021-01-31 18:50:00,1,ENAN 311850Z 06027KT 0550 R14/1900N +FZRA SCT004/// BKN020/// BKN042/// M02/M03 Q0996 RESN=,AUTO
54658,ENAN,2021-01-31 19:50:00,1,ENAN 311950Z 06019KT 0800 R14/P2000N +FZRA FEW003/// SCT017/// BKN038/// M01/M02 Q0997 RESN=,AUTO
54659,ENAN,2021-01-31 20:20:00,1,ENAN 312020Z 04022KT 2400 FZRA FEW005/// SCT015/// BKN024/// M02/M03 Q0996=,AUTO
54662,ENAN,2021-01-31 22:20:00,1,ENAN 312220Z 05018KT 5000 -FZRA ///020/// M01/M03 Q0996 RESN RESHSN=,AUTO
54670,ENAN,2021-02-01 02:20:00,1,ENAN 010220Z 03027KT 9999 -FZRA FEW007/// BKN019/// M01/M03 Q0996=,AUTO
54672,ENAN,2021-02-01 03:20:00,1,ENAN 010320Z 05016KT 2000 FZRA SCT003/// BKN019/// OVC037/// M02/M03 Q0997=,AUTO
54813,ENAN,2021-02-04 00:50:00,1,ENAN 040050Z 06031KT 0450 R14/P2000D +FZRA SCT004/// BKN018/// BKN039/// M00/M01 Q1026=,AUTO
54814,ENAN,2021-02-04 01:20:00,1,ENAN 040120Z 03030KT 1900 -FZRA FEW006/// SCT026/// M01/M02 Q1026 RESN RESHSN=,AUTO
54947,ENAN,2021-02-06 18:20:00,1,ENAN 061820Z 01012KT 9999 -FZRA ///////// M01/M03 Q1035 RESN=,AUTO
54948,ENAN,2021-02-06 18:50:00,1,ENAN 061850Z 04024KT 9000 -FZRA ///////// M01/M02 Q1035=,AUTO
54954,ENAN,2021-02-06 21:50:00,1,ENAN 062150Z 04025KT 9999 ///////// 00/M03 Q1034 REFZRA=,AUTO
54971,ENAN,2021-02-07 06:20:00,1,ENAN 070620Z 01014KT 1000 R14/P2000N FZRA ///////// M00/M01 Q1032=,AUTO
54973,ENAN,2021-02-07 07:20:00,1,ENAN 070720Z 04013KT 6000 +FZRA ///////// M00/M02 Q1031=,AUTO
55015,ENAN,2021-02-08 03:50:00,1,ENAN 080350Z 32010KT 4000 FZRA ///////// M01/M03 Q1028=,AUTO
55108,ENAN,2021-02-10 01:50:00,1,ENAN 100150Z 22008KT 9999 -FZRA FEW005/// BKN046/// M08/M10 Q1025=,AUTO
55201,ENAN,2021-02-11 22:20:00,1,ENAN 112220Z 27029G48KT 1100 R14/P2000N -FZRA FEW001/// SCT007/// BKN015/// M00/M02 Q1017=,AUTO
55204,ENAN,2021-02-11 23:50:00,1,ENAN 112350Z 27040G53KT 0450 R14/1600D +FZRA FEW001/// BKN019/// OVC025/// M00/M02 Q1017 RERASN=,AUTO
55205,ENAN,2021-02-12 00:20:00,1,ENAN 120020Z 27037G50KT 0350 R14/P2000D +FZRA SCT001/// BKN009/// BKN016/// M00/M01 Q1016 RESN=,AUTO
55206,ENAN,2021-02-12 00:50:00,1,ENAN 120050Z 29029G40KT 1400 R14/P2000N -FZRA ///////// M00/M02 Q1017 RESN=,AUTO
55207,ENAN,2021-02-12 01:20:00,1,ENAN 120120Z 29036G48KT 1400 R14/P2000N -DZ ///////// 00/M01 Q1017 RESN REFZRA=,AUTO
55299,ENAN,2021-02-13 19:50:00,1,ENAN 131950Z VRB02KT 9999 FEW013/// SCT024/// BKN038/// M04/M07 Q1029 REFZRA=,AUTO
55300,ENAN,2021-02-13 20:20:00,1,ENAN 132020Z 36011KT 9999 FEW016/// SCT027/// BKN038/// M04/M07 Q1029 REFZRA=,AUTO
55301,ENAN,2021-02-13 20:50:00,1,ENAN 132050Z 33011KT 9999 R14///// FEW002/// SCT019/// BKN030/// M04/M07 Q1029 REFZRA=,AUTO
56225,ENAN,2021-03-04 21:50:00,1,ENAN 042150Z /////KT 9999 -FZRA FEW012/// BKN035/// BKN082/// M03/M06 Q1015=,AUTO
56232,ENAN,2021-03-05 01:20:00,1,ENAN 050120Z /////KT 9999 -FZRA FEW007/// SCT032/// BKN055/// M02/M06 Q1015=,AUTO
56276,ENAN,2021-03-05 22:50:00,1,ENAN 052250Z 32018KT 3000 -FZRA ///021/// M00/M02 Q0999=,AUTO
56278,ENAN,2021-03-05 23:50:00,1,ENAN 052350Z 32013KT 4300 FZRA VV019 M01/M03 Q0998=,AUTO
56279,ENAN,2021-03-06 00:20:00,1,ENAN 060020Z 33016KT 9999 -FZRA FEW002/// SCT021/// OVC028/// M01/M05 Q0998=,AUTO
56281,ENAN,2021-03-06 01:20:00,1,ENAN 060120Z 32014KT 2600 -FZRA FEW002/// SCT021/// BKN027/// M02/M03 Q0997=,AUTO
56282,ENAN,2021-03-06 01:50:00,1,ENAN 060150Z 30015KT 4900 -FZRA ///022/// M02/M04 Q0997=,AUTO
56283,ENAN,2021-03-06 02:20:00,1,ENAN 060220Z 29015KT 3900 R14/P2000N -FZRA FEW002/// SCT017/// BKN024/// M02/M03 Q0996=,AUTO
56285,ENAN,2021-03-06 03:20:00,1,ENAN 060320Z 31019KT 1600 R14/P2000N FZRA FEW001/// SCT009/// BKN017/// M03/M04 Q0994=,AUTO